.DS_Store
build/
.build/
.swiftpm/
default.profraw
*.xcresult
*.xcuserstate
ViewScopeServer/.build/
ViewScopeServer/.swiftpm/
ViewScope/ViewScope.xcodeproj/project.xcworkspace/xcuserdata/
ViewScope/ViewScope.xcodeproj/xcuserdata/
